<!doctype html>
<!-- 
{{top5}} 
-->
<html>
	<head>
		<title>Is Artifact a dead game?</title>
		<link rel="stylesheet" href="/static/css/dead.css" />
        <link rel="shortcut icon" href="static/img/articon.png" type="image/png">
		<meta name='description' content='{{player_count}} long-haulers keeping the lights on.'>
	</head>
	<body style="background-image: url('/static/img/deadbg.jpg');">
		<div id="deadbox">
			<div>
                <h1>Is Artifact a dead game?</h1>
				<img src="/static/img/artifact_logo_bw.png" />
				<h1><a href="https://store.steampowered.com/news/app/583950/view/3047218819080842820">Yes</a></h1>
				<span class="b"><a title="{{ explain }}">{{player_count}}</a> long-haulers online.</span>
                <span class="c">RIP Artifact, Nov 28, 2018 - <a href="https://store.steampowered.com/news/app/583950/view/3047218819080842820">Mar 04, 2021</a></span>
			</div>
		</div>
	</body>
</html>
